<!--底部的菜单选项-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- 首页 Tab -->
  <ion-tab title="首页" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/home">
    <ion-nav-view name="app-home"></ion-nav-view>
  </ion-tab>

  <!-- 测试 Tab -->
  <ion-tab title="测试" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/test">
    <ion-nav-view name="app-test"></ion-nav-view>
  </ion-tab>

  <!-- 设置 Tab -->
  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/setting">
    <ion-nav-view name="app-setting"></ion-nav-view>
  </ion-tab>
</ion-tabs>
