<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="fz.log"
        version="0.0.1">
    <name>log</name>
    <description>
        输出日志
    </description>
    <author>LZQ</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/log.js" name="fzLog">
        <clobbers target="$fzLog"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="fzLog">
                <param name="android-package" value="fz.log"/>
            </feature>
        </config-file>
        <source-file src="src/android/log.java"
                     target-dir="src/com/fengze/log"></source-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
             <!--往sdcard中写入数据的权限 -->
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
			 <!--在sdcard中创建/删除文件的权限 -->
			<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
        </config-file>
    </platform>
</plugin>
